body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .transformable {
        background-color: green;
        margin: 20px;
        border: solid 1px darken(green, 10%);
    }
}

.toolbox {
    top: 20px;
    left: 10px;
    width: 250px;
    height: 320px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F3F4;
    z-index: 2;
    border-radius: 8px 8px 2px 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &-header {
        cursor: move;
        height: 20px;
        width: 250px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: darken($color: #F1F3F4, $amount: 20);
    }

    h3 {
        font-weight: normal;
        margin: 5px 0;
        font-style: italic;
    }

    &-input {
        input {
            display: inline-block;
        }
    }

    .wh-inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .height, .width {
        text-align: right;
        font-family: inherit;
        width: 75px;
        border: 0;
        margin: 3px;
        padding: 3px;
        box-shadow: 0 3px 2px rgba(0,0,0,0.16), 0 3px 2px rgba(0,0,0,0.23);

        &:focus {
            outline: none;
        }

        &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    }

    button {
        display: block;
        font-family: inherit;
        margin: 5px;
        border: none;
        background-color: #fff;
        border-radius: 2px;
        padding: 5px 10px;
        box-shadow: 0 3px 2px rgba(0,0,0,0.16), 0 3px 2px rgba(0,0,0,0.23);

        &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

        &:active {
            transform: translateY(4px);
        }

        &:focus {
            outline: none;
        }
    }
}

.axis-x,
.axis-y,
.axis-x-arrow,
.axis-y-arrow,
.axis-x-label,
.axis-y-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: italic;
    position: fixed;
    z-index: 1;
}

.axis-x,
.axis-y {
    background-color: black;
}

.axis-y,
.axis-y-arrow,
.axis-y-label {
    left: 50%;
    transform: translateX(-50%);
}

.axis-y {
    width: 1px;
    height: 100%;

    &-arrow {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 14px solid black;
    }

    &-label {
        margin-left: 20px;
    }
}

.axis-x,
.axis-x-arrow,
.axis-x-label {
    top: 50%;
    transform: translateY(-50%);
}

.axis-x {
    width: 100%;
    height: 1px;

    &-arrow {
        right: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 14px solid black;
    }

    &-label {
        margin-top: 20px;
        right: 0;
    }
}
