body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px),
    linear-gradient(90deg, transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px);
    background-size: 100% 12px, 12px 100%;
}

.toolbox {
    width: 250px;
    height: 90px;
    top: 20px;
    left: 10px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F1F3F4;
    border-radius: 8px 8px 2px 2px;
    padding: 10px;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
