* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1, h2, h3 {
  margin-top: 10px;
  z-index: 1;
  text-align: center;
  font-weight: normal;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 12px;
}

canvas {
  height: 100%;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px),
  linear-gradient(90deg, transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px);
  background-size: 100% 12px, 12px 100%;
}
