html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px),
                    linear-gradient(90deg, transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px);
  background-size: 100% 12px, 12px 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbox {
  width: 250px;
  height: 55px;
  top: 20px;
  left: 10px;
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #F1F3F4;
  border-radius: 8px 8px 2px 2px;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &-header {
    cursor: move;
    height: 20px;
    width: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: darken($color: #F1F3F4, $amount: 20);
  }

  input {
    text-align: right;
    font-family: inherit;
    width: 50px;
    border: 0px;
    margin: 3px;
    padding: 3px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.23);

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}
